:root {
  --primary-color: #eee;
  --secondary-color: #f4a261;
  --accent1-color: #202865; 
  --accent2-color: #e9c46a;
  --accent4-color: tomato;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
}

header img,
footer img {
  display: block;
  height: auto;
}

header img {
  margin: 0 0.25rem 0 1rem;
  width: 100px;
}

footer img {
  width: 40px;
}

#logo {
  font-size: 2rem;
  font-family: Acme, Arial, sans-serif;
  padding: 10px;
  color: var(--accent1-color);
  font-weight: bold;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  display: block;
  color: var(--accent1-color);
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation a:hover {
  color: steelblue;
  text-decoration: underline;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
}

nav, p, section {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero div {
  position: absolute;
  top: 80px;
  width: 800px;
  margin: 20px;
  text-align: left;
  background-color: var(--accent2-color);
  color: #000;
}

.hero div img {
  float: right;
  width: 125px;
  margin: 10px;
}

.info1 {
  position: relative;
  align-items: center;
  margin: 10px;
  padding: 10px 0;  
  background-color: var(--accent1-color);
}

.info2 {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin: 10px;
  padding: 0;
}

.map {
  grid-column: 1/2;
  height: 100%;
  margin: .5rem;
  padding: .5rem;
  border-radius: 0.5rem;  
}

iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.info2 p {
  margin: 5px;
}

.info1 h1, .info1 h3 {
  position: relative;
  text-align: center;
  opacity: 1;
  top: 0;
  width: 100%;
  padding: 0;  
  color: #fff;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  align-items: center;
  margin: 10px;
  padding: 20px 0;
}

.adventure {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin: 10px;
  padding: 20px 0;
}

.serve {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  margin: 10px;
  padding: 20px 0 0 0;
  justify-content: space-around;
  background-color: #eee;
  border: 1px solid rgb(0 0 0 / 0.1);
}

.content p {
  margin: 5px;
}

.content img {
  width: 225px;
  margin: 10px;
  justify-self: center;
}

.adventure figure,
.serve figure {
  justify-self: center;
  margin: 20px 10px;
}

.adventure figure img {
  width: 140px;
  height: 100px;
  display: block;
}

.adventure figure figcaption,
.serve figure figcaption {
  text-align: center;
  font-size: 0.9rem;
  display: block;
}

.serve figure img {
  width: 160px;
  height: 100px;
  display: block;
  padding: 0 3px 0;
}

h2 {
  position: absolute;
  text-align: center;
  top: 5px;
  width: 100%;
  padding: 0;
}

footer {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
}

footer p {
  grid-column: 2 / 5;
  text-align: center;
  color: var(--accent1-color);
}

footer nav {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.box {
  margin: .5rem;
  padding: .5rem;
  border-radius: 0.5rem;
  background-color: #eee;
  border: 1px solid rgb(0 0 0 / 0.1);
}

.box div {
  border: none;
}

.box label {
  font-size: 0.9rem;
}

.item-form {
  padding: 0;
}

input, button, textarea {
  padding: .75rem;
}

input {
  width: 250px;
}

textarea {
  width: 100%;
}

button {
  background-color: var(--accent1-color);
  color: #fff;
  border: none;
  border-radius: .5rem;
  font-size: 1.2rem;
  width: 100%;
  grid-column: 2/3;
  cursor: pointer;
}

button:hover {
  background-color: steelblue;
}

.sub-form {
  display: grid;
  grid-template-columns: 100px 250px;
  align-items: center;
}

.options {
  display: grid;
  grid-template-columns: 10% 90%;
}

.field-pick {
  width: 15px;
  margin: 5px;
}

.form-item {
  display: grid;
  align-items: center;
}

.column3 {
  grid-template-columns: 30% 40% 30%;
}

.hero-text {
  position: absolute;
  top: 100px;
  width: 400px;
  margin: 10px;
  text-align: left;
  background-color: var(--accent2-color);
  color: #000;
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: sans-serif;
  font-style: italic;
}

.hero-text h4 {
  color: var(--accent1-color);
  margin: 10px;  
}

.info-home {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0;
  padding: 10px 0;
}

.action-trip {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background-color: #202865;
  margin: 0 5px 0 0;
  padding: .1rem;
  border-radius: 0.5rem;
  color: #fff;
}

.action-trip h2 {
  position: relative;
  grid-column: 1/4;
  padding: 10px;
  color: #fff;
}

.action-trip ul {
  position: relative;
  grid-column: 1/3;
  line-height: 1.6;
  margin: 10px;
  padding-left: 1.2rem; 
}

.action-trip img {
  width: 130px;
  justify-self: center;
  align-self: center;
}

.action-trip button {
  margin: 10px;  
  background-color: #6e0303;
}

.action-trip button:hover {
  background-color: #807c7c;
}

.box-home {
  margin: 0 0 0 5px;
  padding: .1rem;
  border-radius: 0.5rem;
  background-color: #eee;
}

.box-home h2 {
  position: relative;
  padding: 10px;
  grid-column: 1/4;
}

.box-home p {
  margin: 0;
}

.box-home div {
  grid-template-columns: 1fr;
  text-align: left;
  border: none;
}

.box-home div input {
  width: auto;
}

.button-container {
  display: flex;
  justify-content: center; 
}

.button-container button {
  width: 120px;  
  margin: 0 0 10px 0;
  display: block;
}

.home-adventure {
  position: relative;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin: 10px;
  padding: 0;
}

.home-adventure figure {
  justify-self: center;
  margin: 10px;
}

.home-adventure figure img {
  width: 240px;
  height: 200px;
  display: block;
  justify-self: center;
}

.home-adventure figure figcaption {
  text-align: center;
  font-size: 0.9rem;
  display: block;
  margin: 5px;
}

.hero-trips h1 {
  position: unset;
  opacity: 1;
  background-color: var(--accent1-color);
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-trips img {
  display: block;
  width: 100%;
  height: auto;
}

.info-trips h2 {
  position: unset;
  text-align: left;
}

.info-trips p {
  margin: 5px;
}

.info2-trips h3 {
  color: var(--accent1-color);
  text-align: left;
}

.kids {
  background-color: #FFEC40;
  padding: 5px 3px;
}

.beginner {
  background-color: #F4C77B;
  color: #000;
  padding: 5px 0;
}

.intermediate {
  background-color: #9E2F50;
  color: #fff;
  padding: 5px 0;
}

.inter-advanced {
  background-color: #145321;
  color: #fff;
  padding: 5px 0;
}

.advanced {
  background-color: var(--accent1-color);
  color: #fff;
  padding: 5px 5px;
}

.text-td {
  background-color: #eee;
  color: #1E4686;
  padding: 5px;
}

.info-trips button {
  width: 250px;
}

.info3-trips {
  margin: 5px;
}

.info3-trips h2 {
  position: unset;
  text-align: left;
  margin: 10px 0;
}

.sub-trips {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: space-between;  
}

.figure-trip {
  display: grid;
  border-radius: 0.5rem;
  border: 1px solid rgb(0 0 0 / 0.3);
  padding: 10px 0;
}

.figure-trip h3 {
  color: var(--accent1-color);
  text-align: left;
  margin: 0 15px;
}

.figure-trip p {
  margin: 5px;
}

.figure-trip ul {
  position: relative;
  line-height: 1.6;
  margin: 10px;
  padding-left: 1.2rem; 
}

.figure-trip img {
  justify-self: center;
  align-self: center;
  width: 250px;
}

.diff-trips {
  background-color: var(--accent1-color);
  color: #fff;
}

.diff-trips h3 {
  color: #fff;
}














